<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBanHangOnline"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.manager.activity.ThongKeSPActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.UserActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ThemSPActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.QuanLiActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.manager.activity.LienHeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.LichSuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.DangNhapActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.DangKiActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.ChiTietActivity"
            android:exported="false" />
        <activity
            android:name="com.example.manager.activity.DienThoaiActivity2"
            android:exported="true" />
        <activity
            android:name="com.example.manager.activity.MainActivity"
            android:exported="false" />

        <service
            android:name="com.example.manager.service.FirebaseNoticationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>